a2wsgi==1.10.8
aiodns==3.2.0
AppKit==0.2.8
BeautifulSoup==3.2.2
beautifulsoup4==4.12.3
boto3==1.35.97
botocore==1.35.97
brotli==1.1.0
brotlicffi==1.1.0.0
cftime==1.6.4.post1
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.1.0
curio==1.6
cycler==0.12.1
Cython==3.0.11
cytoolz==1.0.1
dask==2024.12.1
dl==0.1.0
docutils==0.21.2
email_validator==2.2.0
eval_type_backport==0.2.2
fastapi_cli==0.0.7
fastparquet==2024.11.0
filelock==3.16.1
Foundation==0.1.0a0.dev1
fsspec==2024.12.0
genapi==0.0.8
gunicorn==23.0.0
h2==4.1.0
html5lib==1.1
HTMLParser==0.0.2
httptools==0.6.4
httpx==0.28.1
hypothesis==6.123.15
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipython==8.12.3
ipywidgets==8.1.5
itsdangerous==2.2.0
jaraco.util==15.0.0
Jinja2==3.1.5
jnius==1.1.0
js==1.0
keyring==25.6.0
lxml_html_clean==0.4.1
MarkupSafe==2.1.5
matplotlib==3.10.0
mtrand==0.1
nacl==0.0.0
nose==1.3.7
numarray==1.5.1
Numeric==24.2
numexpr==2.10.2
odfpy==1.4.1
openpyxl==3.1.5
ordereddict==1.1
orjson==3.10.14
outcome==1.3.0.post0
pickle5==0.0.12
Pillow==11.1.0
protobuf==5.29.3
psutil==6.1.1
psycopg2==2.9.10
py==1.11.0
PyInstaller==6.11.1
pyodide==0.0.2
pyOpenSSL==24.3.0
PyQt4==4.11.4
PyQt5==5.15.11
pytest==8.3.4
python_bcrypt==0.3.2
python_multipart==0.0.20
pyxlsb==1.0.10
PyYAML==6.0.2
qtpy==2.4.2
redis==5.2.1
s3fs==2024.12.0
scikit_learn==1.6.1
scipy==1.15.1
sets==0.3.2
simplejson==3.19.3
Sphinx==8.1.3
SQLAlchemy==2.0.37
statsmodels==0.14.4
tables==3.10.2
thread==2.0.5
threadpoolctl==3.5.0
toml==0.10.2
traitlets==5.14.3
trio==0.28.0
ujson==5.10.0
urllib3_secure_extra==0.1.0
watchfiles==1.0.4
wincertstore==0.2.1
wsproto==1.2.0
xarray==2025.1.1
xlrd==2.0.1
xlsxwriter==3.2.0
xmlrpclib==1.0.1
zstandard==0.23.0
